In [113]:
import pandas as pd

In [114]:
import numpy as np

In [115]:
from datetime import datetime

In [116]:
from sqlalchemy import create_engine

In [117]:

engine = create_engine('mysql+pymysql://root:dhruv290@localhost/healthcare_analytics')

print("Loading CLEAN data from MySQL...")

Loading CLEAN data from MySQL...

In [118]:
claims_df = pd.read_sql("SELECT * FROM claims_clean", engine)
print(f" Loaded {len(claims_df):,} clean claims records")
print(f" With only {len(claims_df.columns)} focused columns")

 Loaded 392,156 clean claims records
 With only 7 focused columns

In [119]:
providers_df = pd.read_sql("SELECT * FROM providers", engine)
print(f"Loaded {len(providers_df):,} providers")

Loaded 5,411 providers

In [120]:
engine.dispose()
print("Data loaded successfully! MySQL connection closed.")

Data loaded successfully! MySQL connection closed.

In [121]:
claims_df.isnull().sum()

ClaimID              0
Provider             0
BeneID               0
claim_amount         0
deductible_amount    0
claim_start_date     0
claim_end_date       0
dtype: int64

In [122]:
claims_df.duplicated().sum()

np.int64(0)

In [123]:
claims_df.dtypes

ClaimID              object
Provider             object
BeneID               object
claim_amount          int64
deductible_amount     int64
claim_start_date     object
claim_end_date       object
dtype: object

In [124]:
claims_df.describe()

        claim_amount  deductible_amount
count  392156.000000      392156.000000
mean      294.972026           3.060981
std       712.471512          16.649103
min        10.000000           0.000000
25%        40.000000           0.000000
50%        80.000000           0.000000
75%       300.000000           0.000000
max    102500.000000         897.000000

In [125]:
claims_df['claim_start_date']=pd.to_datetime(claims_df['claim_start_date'])

In [126]:
claims_df['claim_end_date']=pd.to_datetime(claims_df['claim_end_date'])

In [127]:
claims_df.dtypes

ClaimID                      object
Provider                     object
BeneID                       object
claim_amount                  int64
deductible_amount             int64
claim_start_date     datetime64[ns]
claim_end_date       datetime64[ns]
dtype: object

In [128]:
claims_df=claims_df[claims_df['claim_amount']>0]

In [129]:
claims_df['year']=claims_df['claim_start_date'].dt.year

In [130]:
claims_df['month']=claims_df['claim_start_date'].dt.month

In [131]:
claims_df['duration']=(claims_df['claim_end_date']- claims_df['claim_start_date']).dt.days

In [132]:
claims_df.head()

,ClaimID,Provider,BeneID,claim_amount,deductible_amount,claim_start_date,claim_end_date,year,month,duration
0,CLM624349,PRV56011,BENE11002,30,0,2009-10-11,2009-10-11,2009,10,0
1,CLM189947,PRV57610,BENE11003,80,0,2009-02-12,2009-02-12,2009,2,0
2,CLM438021,PRV57595,BENE11003,10,0,2009-06-27,2009-06-27,2009,6,0
3,CLM121801,PRV56011,BENE11004,40,0,2009-01-06,2009-01-06,2009,1,0
4,CLM150998,PRV56011,BENE11004,200,0,2009-01-22,2009-01-22,2009,1,0

In [133]:
print("\n✅ VALIDATION:")
print(f"TOTAL ROWS :{len(claims_df)}")
print(f"UNIQUE PROVIDERS :{claims_df['Provider'].nunique()}")
print(f"UNIQUE PATIENTS :{claims_df['BeneID'].nunique()}")
print(f"ALL AMOUNT POSITIVE :{(claims_df["claim_amount"]>0).all()}")
print(f"DATE RANGE:{(claims_df["claim_start_date"]).min()} to {(claims_df["claim_start_date"]).max()}")
print(f"DURATION SATUTUS :{claims_df["duration"].describe()}")

✅ VALIDATION:
TOTAL ROWS :392156
UNIQUE PROVIDERS :4943
UNIQUE PATIENTS :123842
ALL AMOUNT POSITIVE :True
DATE RANGE:2008-12-12 00:00:00 to 2009-12-31 00:00:00
DURATION SATUTUS :count    392156.000000
mean          1.143820
std           4.192845
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          23.000000
Name: duration, dtype: float64

In [134]:
claims_df.to_csv("cleaned_claims_data.csv",index=False)
print("CLEANED DATA IS SAVED ")

CLEANED DATA IS SAVED

In [135]:
provider_summary=claims_df.groupby("Provider").agg({
    'ClaimID':'count',
    'claim_amount':['sum','mean'],
    'BeneID':'nunique',
    'claim_start_date':['min','max']}).reset_index()

In [136]:
provider_summary.head()

   Provider ClaimID claim_amount              BeneID claim_start_date  \
              count          sum        mean nunique              min
0  PRV51001      16         6250  390.625000      15       2009-01-04
1  PRV51003      56        25260  451.071429      54       2009-01-09
2  PRV51004     107        35460  331.401869      96       2009-01-03
3  PRV51005     903       230010  254.717608     435       2008-12-23
4  PRV51007      55        14080  256.000000      49       2009-01-01


         max
0 2009-12-17
1 2009-12-20
2 2009-12-27
3 2009-12-30
4 2009-12-23

In [137]:
provider_summary.columns=['Provider','total_claim','total_revenue','avg_claim','unique_patients','first_claim','last_claim']

In [138]:
provider_summary.head()

,Provider,total_claim,total_revenue,avg_claim,unique_patients,first_claim,last_claim
0,PRV51001,16,6250,390.625000,15,2009-01-04,2009-12-17
1,PRV51003,56,25260,451.071429,54,2009-01-09,2009-12-20
2,PRV51004,107,35460,331.401869,96,2009-01-03,2009-12-27
3,PRV51005,903,230010,254.717608,435,2008-12-23,2009-12-30
4,PRV51007,55,14080,256.000000,49,2009-01-01,2009-12-23

In [139]:
provider_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4943 entries, 0 to 4942
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Provider         4943 non-null   object
 1   total_claim      4943 non-null   int64
 2   total_revenue    4943 non-null   int64
 3   avg_claim        4943 non-null   float64
 4   unique_patients  4943 non-null   int64
 5   first_claim      4943 non-null   datetime64[ns]
 6   last_claim       4943 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(3), object(1)
memory usage: 270.4+ KB

In [157]:
latest_date=claims_df['claim_start_date'].max()

In [158]:
provider_summary['days_since_lastclaim']=(latest_date - provider_summary['last_claim']).dt.days

In [159]:
provider_summary['active_days'] = (provider_summary['last_claim'] - provider_summary['first_claim']).dt.days

In [160]:
provider_summary['claims_per_day'] = ( provider_summary['total_claim'] / (provider_summary['active_days'] + 1))

In [161]:
provider_summary.head()

,Provider,total_claim,total_revenue,avg_claim,unique_patients,first_claim,last_claim,active_days,claims_per_day,days_since_lastclaim
0,PRV51001,16,6250,390.625000,15,2009-01-04,2009-12-17,347,0.045977,14
1,PRV51003,56,25260,451.071429,54,2009-01-09,2009-12-20,345,0.161850,11
2,PRV51004,107,35460,331.401869,96,2009-01-03,2009-12-27,358,0.298050,4
3,PRV51005,903,230010,254.717608,435,2008-12-23,2009-12-30,372,2.420912,1
4,PRV51007,55,14080,256.000000,49,2009-01-01,2009-12-23,356,0.154062,8

In [164]:
provider_summary=provider_summary.merge(providers_df,on='Provider',how='left')

In [165]:
provider_summary.head()

,Provider,total_claim,total_revenue,avg_claim,unique_patients,first_claim,last_claim,active_days,claims_per_day,days_since_lastclaim,PotentialFraud
0,PRV51001,16,6250,390.625000,15,2009-01-04,2009-12-17,347,0.045977,14,No
1,PRV51003,56,25260,451.071429,54,2009-01-09,2009-12-20,345,0.161850,11,Yes
2,PRV51004,107,35460,331.401869,96,2009-01-03,2009-12-27,358,0.298050,4,No
3,PRV51005,903,230010,254.717608,435,2008-12-23,2009-12-30,372,2.420912,1,Yes
4,PRV51007,55,14080,256.000000,49,2009-01-01,2009-12-23,356,0.154062,8,No

In [177]:
print(f"Provider summary created: {len(provider_summary):,} providers")
print(f"Top 10 by revenue:")
print(provider_summary.nlargest(10, 'total_revenue')[['Provider', 'total_claim', 'total_revenue', 'unique_patients']
])

Provider summary created: 4,943 providers
Top 10 by revenue:
      Provider  total_claim  total_revenue  unique_patients
338   PRV51459         6206        1808570             2551
2079  PRV53797         3612        1039960             1760
428   PRV51574         3389        1020500             1467
2158  PRV53918         2709         806390             1457
2869  PRV54895         2605         759730             1250
3084  PRV55215         2493         730910             2023
790   PRV52064         2137         612040             1240
3674  PRV56011         2085         559840              987
2949  PRV55004         1819         526430              850
765   PRV52030         1722         502310              980

In [170]:
provider_summary.to_csv('provider_summary.csv', index=False)

In [187]:
print("KEY FINDINGS:")
print("-" * 50)

print(f"Total Providers: {len(provider_summary)}")
print(f"Total Claims: {len(claims_df)}")
print(f"Total Revenue: ${provider_summary['total_revenue'].sum():,.0f}")
print(f"Average Claims per Provider: {provider_summary['total_claim'].mean():.0f}")
print(f"Max Claims by One Provider: {provider_summary['total_claim'].max()}")
print(f"Max Revenue by One Provider: ${provider_summary['total_revenue'].max():,.0f}")

KEY FINDINGS:
--------------------------------------------------
Total Providers: 4943
Total Claims: 392156
Total Revenue: $115,675,050
Average Claims per Provider: 79
Max Claims by One Provider: 6206
Max Revenue by One Provider: $1,808,570